
/* General */

.route-container {
  padding: 0px 20px 20px 20px;
  width: 100%;
  /*header height*/
  margin-top: 50px;
}

/* Miss 404 */

#missing-404 {
}

/* Header */

#app-header {
  width: 100%;
  background-color: #ddd;
  position: fixed;
  top: 0;
  left: 0;
}

#app-header * {
  display: inline-block;
}

#app-header .nav-item {
  padding: 15px 25px;
}

#app-header .active-nav-item {
  background-color: white;
}

#app-header nav {
  display: block;
}
