
/* App Styles */
/* ========== */

/* Appearance */
.raised {
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
}

/* For Mouse */
.clickable {
  cursor: pointer!important;
}

/* Dimensions */
.expand {
  width: 100%!important;
}

/* Positioning */
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.pull-left:after, .pull-right:after {
  clear: both;
}

/* Spacing */

.lg-pad {
  padding: 20px;
}

.md-pad {
  padding: 10px;
}

.sm-pad {
  padding: 5px;
}

.lg-marg {
  margin: 20px;
}

.md-marg {
  margin: 10px;
}

.sm-marg {
  margin: 5px;
}

/* Centering */

.fit-center {
  width: max-content;
  margin: auto;
}

.text-center {
  text-align: center!important;
}

/* Errors */
.error-text {
  color: red;
}

.error-background {
  background-color: red;
  color: white;
}

/* Interactive */
.main-btn, .main-btn-active {
  margin: 10px;
  outline: none;
  border-radius: 4px
}

.main-btn-active {
  background-color: lightblue;
}
